abrt
akonadi
akonadi_akonotes_resource_0rc
akonadi_contacts_resource_0rc
akonadi-firstrunrc
akonadi_ical_resource_0rc
akonadi_indexing_agentrc
akonadi_maildir_resource_0rc
akonadi-migrationrc
akregatorrc
autostart
baloofilerc
bluedevilglobalrc
dconf
discoverrc
dolphinrc
dunst.old
emaildefaults
emailidentities
fedora-plasma-cacherc
gtk-3.0
gtk-4.0
gtkrc
gtkrc-2.0
gwenviewrc
htop
ibus
imsettings
kactivitymanagerdrc
kactivitymanagerd-statsrc
kactivitymanagerd-switcher
kalendaracrc
kateschemarc
katevirc
kcmfonts
kcminputrc
kconf_updaterc
KDE
kdeconnect
kded5rc
kdedefaults
kdeglobals
kde.org
kfontinstuirc
kglobalshortcutsrc
khotkeysrc
kiorc
kmail2rc
kmixrc
knfsshare
konsolerc
konsolesshconfig
krunnerrc
kscreenlockerrc
ksmserverrc
ktimezonedrc
kwalletrc
kwinrc
kwinrulesrc
kwritemetainfos
kwriterc
kxkbrc
libaccounts-glib
okularpartrc
okularrc
PlasmaDiscoverUpdates
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
plasmashellrc
PlasmaUserFeedback
plasma-welcomerc
plasma-workspace
polybar.themes
powermanagementprofilesrc
pulse
session
specialmailcollectionsrc
spectaclerc
systemsettingsrc
Thunar
touchpadxlibinputrc
Trolltech.conf
Unknown Organization
user-dirs.dirs
user-dirs.locale
wal
webengineurlinterceptoradblockrc
xfce4
xsettingsd
